<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "食材ジャンル", admin_food_genres_path %>
      <h3>編集</h3>
      <%= form_with model: @food, url: admin_food_path(@food), local: true do |f| %>
        <%= f.collection_select :food_genre_id, @food_genres, :id, :name %>
        食品名
        <%= f.text_field :name %>
        単位
        <%= f.text_field :unit %>
        <%= f.select :status, Food.statuses.keys.map {|k| [I18n.t("enums.food.status.#{k}"), k]} %>
        <%= f.submit '更新', class:"btn btn-primary" %>
      <% end %>
      <%= link_to '削除', admin_food_path(@food), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %>

      <% @food_genres.each do |food_genre| %>
        </BR>
        <%= food_genre.name %>
        </BR>
        <% if food_genre.status == true %>
          買い物リスト(表示)
        <% else %>
          買い物リスト(非表示)
        <% end %>
          <% food_genre.foods.each do |food|%>
            <%= food.name %>
            <%= link_to edit_admin_food_path(food) do %>
              X
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>