<div class="container">
  <div class="row mt-3">
    <div class="col">
      <%= link_to '空にする', purchas_recipes_destroy_all_path, method: :delete, class:"btn btn-primary mg-auto", "data-confirm" => "本当に空にしますか？" %>
      <%= link_to '食材リスト', purchas_foods_path, class:"btn btn-primary mg-auto" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <% @purchas_recipes.each do |purchas_recipe| %>
        <%= link_to recipe_path(purchas_recipe.recipe_id) do %>
          <%= attachment_image_tag purchas_recipe.recipe, :image, :fill, 200, 200 %>
          <%= purchas_recipe.recipe.name %>
        <% end %>
        <%= form_with model: purchas_recipe, url: purchas_recipe_path(purchas_recipe), local: true do |f| %>
          <%= f.number_field :amount %>
          <%= f.submit '変更' %>
        <% end %>
        <%= link_to '削除', purchas_recipe_path(purchas_recipe), method: :delete %>
      <% end %>
    </div>
    <div class="col-6">

        <% @food_genres.each do |food_genre| %>
        <%= food_genre.name %>
        </br>
        <% food_genre.purchas_foods.each do |purchas_food| %>
          <%= purchas_food.food.name %>
          <% if purchas_food.food.status == 'fraction' %>
            <%= purchas_food.numerator %>/
            <%= purchas_food.denominator %>
          <% elsif purchas_food.food.status == 'integer' %>
            <%= purchas_food.numerator %>
          <% end %>
        <%= purchas_food.food.unit %>
        </br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
