<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto">
      <h2>レシピ編集</h2>
        <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
        <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %></br>
        <%= f.attachment_field :image,class:"mt-3" %>
        <h3 class="mt-3">レシピ名</h3>
        <%= f.text_field :name, class: 'form-control' %>
        <h3 class="mt-3">ジャンル</h3>
        <%= f.collection_select :recipe_genre_id, @recipe_genres, :id, :name, { prompt: "選択してください" } %>
        <h3 class="mt-3">作り方</h3>
        <%= f.text_area :body, class: 'form-control' %>
        </br><%= f.submit '保存', class:'btn btn-success float-right' %>
        <% end %>
    </div>
  </div>
</div>