<div class="container">
  <div class="row">
    <div class="col">
      <h1>レシピ編集</h1>
        <%= form_with model: @recipe, url: recipe_path, local: true do |f| %>
        <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %>
        <%= f.attachment_field :image %>
        <h1>レシピ名</h1>
        <%= f.text_field :name, class: "form-control" %>
        <h1>作り方</h1>
        <%= f.text_area :body, class: "form-control" %>
        </br><%= f.submit '更新', class:"btn btn-primary" %>
        <% end %>
        <p><%= link_to '削除', recipe_path(@recipe), method: :delete, class:'btn btn-danger', 'data-confirm' => '本当に削除ますか？' %></p>
    </div>
  </div>
</div>