<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>レシピ詳細</h1>
      <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %>
      <h1>レシピ名</h1>
      <%= @recipe.name %>
      <h2>ジャンル名</h2>
      <%= @recipe.recipe_genre.name %>
      <%= link_to '食材を追加', new_recipe_recipe_food_path(@recipe) %>
      <h2>作り方</h2>
      <%= @recipe.body %>
      <% if @recipe.end_user_id == current_end_user.id %>
        <%= link_to '編集', edit_recipe_path(@recipe), class:'btn btn-primary' %>
        <%= link_to '削除', recipe_path, method: :delete, class:'btn btn-danger', 'data-confirm' => '本当に削除しますか？' %>
      <% end %>
      <%= form_with model: @purchas_recipe, url: purchas_recipes_path, local: true do |f| %>
        <%= f.number_field :amount, value: 1 %>
        <%= f.hidden_field :recipe_id, :value => @recipe.id %>
        <%= f.submit '献立に追加' %>
      <% end %>
    </div>
    <div class="col-6">
      <h3>必要食材</h3>
      
      <% @food_genres.each do |food_genre| %>
        <%= food_genre.name %>
        </br>
        <% food_genre.recipe_foods.each do |recipe_food| %>
          <%= recipe_food.food.name %>
          <% if recipe_food.food.status == 'fraction' %>
            <%= recipe_food.numerator %>/
            <%= recipe_food.denominator %>
          <% elsif recipe_food.food.status == 'integer' %>
            <%= recipe_food.numerator %>
          <% else %>
            <%= recipe_food.other_unit %>
          <% end %>
        <%= recipe_food.food.unit %>
        </br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
