<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "end_users/shared/error_messages", resource: resource %>
          <table class="table">
            <tbody>
              <tr>
                <td class="align-middle">メールアドレス</td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input-sm" %></td>
              </tr>
              <tr>
            </tbody>
            <tbody>
              <tr>
                <td class="align-middle">パスワード</td>
                <td><%= f.password_field :password, autocomplete: "new-password", class:"form-control input-sm" %></td>
              </tr>
              <tr>
            </tbody>
          </table>
          <%= link_to '会員登録はこちら', new_end_user_registration_path, class:'btn btn-success float-right ml-5' %>
          <%= f.submit "ログイン", class:'btn btn-primary float-right' %>
      <% end %>
    </div>
  </div>
</div>


