<div class="container">
  <div class="row mt-5">
    <div class="col-5">
      <%= link_to recipe_path(@recipe) do %>
        <h2><%= @recipe.name %></h2>
        <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %></br>
      <% end %>
      <table class="table table-responsive mt-3">
        <thead>
          <tr>
            <th>材料</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @recipe_food_genres.each do |food_genre| %>
          <tbody>
          <% food_genre.recipe_foods.each do |recipe_food| %>
            <tr>
              <%= form_with model: recipe_food, url: recipe_recipe_food_path(recipe_food.recipe_id,recipe_food.id), local: true do |f| %>
              <td class="py-1"><%= recipe_food.food.name %></td>
              <td class="py-1">
                <% if recipe_food.food.status == 'fraction' %>
                  <%= f.number_field :numerator, class:"width-40" %>
                  <span class="mx-1">/</span>
                  <%= f.number_field :denominator, class:"width-40" %>
                <% elsif recipe_food.food.status == 'integer' %>
                  <%= f.number_field :numerator, class:"width-100" %>
                <% else %>
                  <%= f.text_field :other_unit, class:"width-100" %>
                <% end %>
              </td>
              <td class="py-1"><%= recipe_food.food.unit %></td>
              <td class="py-1"><%= f.submit '変更', class:'btn btn-success btn-sm' %></td>
              <% end %>
              <td class="py-1"><%= link_to '削除', recipe_recipe_food_path(recipe_food.recipe_id,recipe_food.id), method: :delete, class:"btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
          </tbody>
      <% end %>
      </table>
    </div>
    <div class="col-7">
      <table class="table table-bordered">
      <% @food_genres.each do |food_genre| %>
        <thead class="table-info">
          <tr>
            <th><%= food_genre.name %></th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="py-1">
                <% food_genre.foods.each do |food| %>
                  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path, class:"inline", local: true do |f| %>
                    <%= f.hidden_field :food_id, :value => food.id %>
                    <%= f.submit food.name, class:"btn btn-sm my-2 mx-2 inline" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>